@media (min-width:768px) and (max-width: 1024px) {
    .navigator .main-nav {
        width: 85%;
    }
    .header-title .header-desc {
        width: 80%;
        padding-right: 0;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .header-title .header-desc a {
        margin: 0 auto;
    }
}

@media (min-width:320px) and (max-width: 768px) {
    .navigator .header-logo {
        width: 100%;
        display: block;
    }
    .navigator .header-logo img {
        display: block;
        margin: 0 auto;
    }
    .navigator .main-nav {
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: left;
    }
}

;